body {
    font-family: Arial, Verdana, tahoma;
    margin: 0;
}
header {
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 5px #ccc;
    padding: 10px;
    box-sizing: border-box;
}   
header nav {
    float: right;
    margin-top: 30px;
}
header nav a {
    text-decoration: none;
    color: #ccc;
    margin: 15px;
}
header nav a:hover {
    color: #333;
}

}